<!-- Sing in  Form -->
<section class="sign-in">
  <div class="container">
    <div class="signin-content">
      <div class="signin-image">
        <figure><img src="../../../assets/images/signin-image.jpg" alt="sing up image"></figure>
        <a class="signup-image-link" routerLink="/inscription">Créer un compte</a>
      </div>

      <div class="signin-form">
        <h2 class="form-title">Connexion</h2>
        <form method="POST" class="register-form" id="login-form" [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
          <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input type="email" name="email" id="email" placeholder="Email" formControlName="email"/>
          </div>
          <div class="form-group">
            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" name="password" id="your_pass" placeholder="Mot de passe" formControlName="password"/>
          </div>
          <!--<div class="form-group">
            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
            <label for="remember-me" class="label-agree-term"><span><span></span></span>Se souvenir de moi</label>
          </div>-->
          <div class="mt-5">
            <button mat-raised-button color="primary">Se connecter</button>
          </div>
        </form>
        <div class="social-login mt-5">
          <span class="social-label">Ou se connecter avec </span>
          <ul class="socials">
            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
